{{ define "channelconn" }}
	<!doctype html>
	<html lang="en">
		{{ template "header" }}
		<body>
			{{ template "navbar" . }}
			<div class="main-content pt-3">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 mx-auto py-3">
							<div class="row">
								<div class="buttons mb-3">
									<button
										type="button"
										class="btn body-button"
										onclick="openModal('connect')"
									>
										Connect Thing
									</button>
									<button
										type="button"
										class="btn body-button"
										onclick="openModal('share')"
									>
										Share Things
									</button>

									<!--Modal-->
									<div
										class="modal fade"
										id="connectModal"
										tabindex="-1"
										role="dialog"
										aria-labelledby="connectModal"
										aria-hidden="true"
									>
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="connectModal">Connect</h5>
												</div>
												<div class="modal-body">
													<form
														action="/channels/{{ .Channel.ID }}/connectThing"
														method="post"
													>
														<div class="mb-3">
															<label for="infiniteScroll" class="form-label">
																Thing
															</label>
															<input
																type="text"
																name="thingFilter"
																id="thingFilter"
																placeholder="Filter by thing"
																oninput="fetchIndividualThing(this.value,'infiniteScroll')"
															/>
															<select
																class="form-select"
																name="thingID"
																id="infiniteScroll"
																size="5"
																required
															>
																<option disabled>select a thing</option>
															</select>
															<div id="thingIDHelp" class="form-text">
																Select a thing.
															</div>
														</div>
														<div class="mb-3">
															<label for="actions" class="form-label">
																Actions
															</label>
															<select
																class="form-select"
																name="actions"
																id="actions"
																aria-describedby="actionsHelp"
																multiple
																required
															>
																<option value="m_read">m_read</option>
																<option value="m_write">m_write</option>
															</select>
															<div id="actionsHelp" class="form-text">
																Select Actions (multiple selections allowed).
															</div>
														</div>
														<button type="submit" class="btn body-button">
															Submit
														</button>
													</form>
												</div>
											</div>
										</div>
									</div>
									<div
										class="modal fade"
										id="shareThingModal"
										tabindex="-1"
										role="dialog"
										aria-labelledby="shareThingModal"
										aria-hidden="true"
									>
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="shareThingModal">
														Share Thing
													</h5>
												</div>
												<div class="modal-body">
													<form
														action="/channels/{{ .Channel.ID }}/shareThing"
														method="post"
													>
														<div class="mb-3">
															<label for="UserID" class="form-label">
																User
															</label>
															<input
																type="text"
																name="userFilter"
																id="userFilter"
																placeholder="Filter by User"
																oninput="fetchIndividualUser(this.value,'UserID')"
															/>
															<select
																class="form-select"
																name="userID"
																id="UserID"
																size="5"
																required
															>
																<option disabled>select a User</option>
															</select>
														</div>
														<div class="mb-3">
															<label for="actions" class="form-label">
																Actions
															</label>
															<select
																class="form-select"
																name="actions"
																id="actions"
																aria-describedby="actionsHelp"
																multiple
																required
															>
																<option value="c_list">c_list</option>
																<option value="c_update">c_update</option>
																<option value="c_delete">c_delete</option>
															</select>
															<div id="actionsHelp" class="form-text">
																Select Actions (multiple selections allowed).
															</div>
														</div>
														<button type="submit" class="btn body-button">
															Submit
														</button>
													</form>
												</div>
											</div>
										</div>
									</div>
									<!--modal end-->
								</div>
								<div class="table-responsive table-container">
									<table id="myTable" class="table">
										<thead>
											<tr>
												<th scope="row">Channel</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>Name</th>
												<td>{{ .Channel.Name }}</td>
											</tr>
											<tr>
												<th>ID</th>
												<td>{{ .Channel.ID }}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="table-responsive table-container">
									<h4
										style="
                    font-weight: bold;
                    font-size: 22px;
                    margin-top: 50px;
                    margin-bottom: 20px;
                  "
									>
										CONNECTED THINGS
									</h4>

									{{ template "tableheader" . }}
									<div class="itemsTable">
										<table id="itemsTable" class="table">
											<thead>
												<tr>
													<th scope="col">NAME</th>
													<th scope="col">ID</th>
													<th scope="col"></th>
												</tr>
											</thead>
											<tbody>
												{{ $chanID := .Channel.ID }}
												{{ range $i, $t := .Things }}
													<tr>
														<td>{{ $t.Name }}</td>
														<td>
															<a href="{{ printf "/things/%s" $t.ID }}">
																{{ $t.ID }}
															</a>
														</td>
														<td>
															<form action="/disconnectThing" method="post">
																<input
																	type="hidden"
																	name="channelID"
																	id="channelID"
																	value="{{ $chanID }}"
																/>
																<input
																	type="hidden"
																	name="thingID"
																	id="thingID"
																	value="{{ $t.ID }}"
																/>
																<button
																	type="submit"
																	class="btn btn-danger btn-sm"
																>
																	Disconnect
																</button>
															</form>
														</td>
													</tr>
												{{ end }}
											</tbody>
										</table>
									</div>
									{{ template "tablefooter" . }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			{{ template "footer" }}
			<script>
				const connectModal = new bootstrap.Modal(
					document.getElementById("connectModal"),
				);
				const shareThingModal = new bootstrap.Modal(
					document.getElementById("shareThingModal"),
				);

				function openModal(modal) {
					if (modal === "connect") {
						connectModal.show();
						getThings("");
						getAdditionalThings();
					} else if (modal === "share") {
						shareThingModal.show();
						getUsers("");
						getAdditionalUsers();
					}
				}
				function fetchIndividualThing(filterValue, selectId) {
					const itemSelect = document.getElementById(selectId);
					if (filterValue === "") {
						itemSelect.innerHTML = "<option disabled>select a thing</option>";
						getThings("");
						getAdditionalThings();
					} else {
						itemSelect.innerHTML = "";
						getThings(filterValue);
					}
				}

				let limit = 5;

				function getThings(name) {
					fetchThingsData(name, 1);
				}

				function getAdditionalThings() {
					var selectElement = document.getElementById("infiniteScroll");
					var singleOptionHeight =
						selectElement.querySelector("option").offsetHeight;
					var selectBoxHeight = selectElement.offsetHeight;
					var numOptionsBeforeLoad = 2;
					var lastScrollTop = 0;
					var currentPageNo = 1;
					var currentScroll = 0;

					selectElement.addEventListener("scroll", onselectScroll);

					function onselectScroll(event) {
						var st = selectElement.scrollTop;
						var totalHeight =
							selectElement.querySelectorAll("option").length *
							singleOptionHeight;

						if (st > lastScrollTop) {
							currentScroll = st + selectBoxHeight;
							if (
								currentScroll + numOptionsBeforeLoad * singleOptionHeight >=
								totalHeight
							) {
								currentPageNo++;
								fetchThingsData("", currentPageNo);
							}
						}

						lastScrollTop = st;
					}
				}

				function fetchThingsData(name, page) {
					fetch(
						`/entities?item=things&limit=${limit}&name=${name}&page=${page}`,
						{
							method: "GET",
						},
					)
						.then((response) => response.json())
						.then((data) => {
							const selectElement = document.getElementById("infiniteScroll");
							data.data.forEach((thing) => {
								const option = document.createElement("option");
								option.value = thing.id;
								option.text = thing.name;
								selectElement.appendChild(option);
							});
						})
						.catch((error) => console.error("Error:", error));
				}

				function fetchIndividualUser(filterValue, selectId) {
					const itemSelect = document.getElementById(selectId);
					if (filterValue === "") {
						itemSelect.innerHTML = "<option disabled>select a user</option>";
						getUsers("");
						getAdditionalUsers();
					} else {
						itemSelect.innerHTML = "";
						getUsers(filterValue);
					}
				}

				function getUsers(name) {
					fetchUsersData(name, 1);
				}

				function getAdditionalUsers() {
					var selectElement = document.getElementById("UserID");
					var singleOptionHeight =
						selectElement.querySelector("option").offsetHeight;
					var selectBoxHeight = selectElement.offsetHeight;
					var numOptionsBeforeLoad = 2;
					var lastScrollTop = 0;
					var currentPageNo = 1;
					var currentScroll = 0;

					selectElement.addEventListener("scroll", onselectScroll);

					function onselectScroll(event) {
						var st = selectElement.scrollTop;
						var totalHeight =
							selectElement.querySelectorAll("option").length *
							singleOptionHeight;

						if (st > lastScrollTop) {
							currentScroll = st + selectBoxHeight;
							if (
								currentScroll + numOptionsBeforeLoad * singleOptionHeight >=
								totalHeight
							) {
								currentPageNo++;
								fetchUsersData("", currentPageNo);
							}
						}

						lastScrollTop = st;
					}
				}

				function fetchUsersData(name, page) {
					fetch(
						`/entities?item=users&limit=${limit}&name=${name}&page=${page}`,
						{
							method: "GET",
						},
					)
						.then((response) => response.json())
						.then((data) => {
							const selectElement = document.getElementById("UserID");
							data.data.forEach((user) => {
								const option = document.createElement("option");
								option.value = user.id;
								option.text = user.name;
								selectElement.appendChild(option);
							});
						})
						.catch((error) => console.error("Error:", error));
				}
			</script>
		</body>
	</html>
{{ end }}
