{{ define "dashboard" }}
  <!doctype html>
  <html lang="en">
    <head>
      {{ template "header" }}
      <title>Dashboard</title>
      <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>
    </head>
    <style>
      .grid {
        position: relative;
      }
      .item {
        display: block;
        position: absolute;
        /* width: 100px;
        height: 100px; */
        margin: 5px;
        z-index: 1;
        background: #d2cece;
        color: #1d14c7;
        padding: 1rem;
      }

      .item.muuri-item-dragging {
        z-index: 3;
      }
      .item.muuri-item-releasing {
        z-index: 2;
      }
      .item.muuri-item-hidden {
        z-index: 0;
      }
      .item-content {
        position: relative;
        width: 100%;
        height: 100%;
      }
    </style>
    <body>
      {{ template "navbar" . }}
      <div class="main-content pt-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto py-3">
              <div class="row">
                <div class="row-mb-3">
                  <button
                    type="button"
                    class="btn body-button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#widgetsCanvas"
                    aria-controls="widgetsCanvas"
                  >
                    Widgets
                  </button>
                </div>
                <div class="row">
                  <div class="grid"></div>
                </div>
                <div
                  class="offcanvas offcanvas-end"
                  data-bs-scroll="true"
                  data-bs-backdrop="false"
                  tabindex="-1"
                  id="widgetsCanvas"
                  aria-labelledby="widgetsCanvasLabel"
                >
                  <div class="offcanvas-header">
                    <h5 id="widgetsCanvasLabel">Widgets</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="offcanvas"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="offcanvas-body">
                    <button type="button" class="btn body-button" onclick="addWidget();">
                      Add widget
                    </button>
                    <div
                      class="card"
                      style="width: 18rem; cursor: pointer;"
                      onclick="openLineChartModal()"
                    >
                      <div class="card-body">
                        <div class="card-title">Time series line charts</div>
                        <div class="card-text">simple line charts</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div
                class="modal fade"
                id="lineChartModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="lineChartModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="lineChartModalLabel">Time series line charts</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <form id="create-lineChart-form">
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for="title" class="form-label">Title</label>
                          <input
                            type="text"
                            class="form-control"
                            name="title"
                            id="title"
                            placeholder="Enter the chart title"
                          />
                        </div>
                        <div class="mb-3">
                          <label for="channel-id" class="form-label">Channel ID</label>
                          <input
                            type="text"
                            class="form-control mb-3"
                            name="channel"
                            id="channel-id"
                            placeholder="Enter channel ID"
                          />
                        </div>
                        <div class="mb-3">
                          <label for="x-axis" class="form-label">Select x-axis Type</label>
                          <select class="form-select mb-3" name="xAxisType" id="x-axis">
                            <option value="" disabled>Select x-axis Type</option>
                            <option value="value">Value</option>
                            <option value="category">Category</option>
                            <option value="time">Time</option>
                            <option value="log">Log</option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label for="y-axis" class="form-label">Select y-axis Type</label>
                          <select class="form-select mb-3" name="yAxisType" id="y-axis">
                            <option value="" disabled>Select y-axis Type</option>
                            <option value="value">Value</option>
                            <option value="category">Category</option>
                            <option value="time">Time</option>
                            <option value="log">Log</option>
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                          Close
                        </button>
                        <button type="submit" class="btn body-button" id="create-lineChart-button">
                          Create Chart
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        initGrid();
        var grid;

        function initGrid() {
          var savedLayout = window.localStorage.getItem("gridState");
          if (savedLayout) {
            loadLayout(savedLayout);
          } else {
            grid = new Muuri(".grid", {
              dragEnabled: true,
            }).on("layoutEnd", function () {
              saveLayout(grid);
            });
          }
        }

        function saveLayout(grid) {
          const itemData = grid.getItems().map((item) => ({
            innerHTML: item.getElement().innerHTML,
            position: {
              left: item._left,
              top: item._top,
              width: item._width,
              height: item._height,
              translateX: item._translateX,
              translateY: item._translateY,
            },
          }));

          const gridState = {
            items: itemData,
            layout: grid._layout,
            settings: {
              dragEnabled: grid._settings.dragEnabled,
              // Add other relevant settings if needed
            },
          };

          // Convert the gridState to a JSON string
          const jsonString = JSON.stringify(gridState, function (key, value) {
            // Exclude circular references
            if (key === "_item" || key === "_grid" || key === "_layout") {
              return undefined;
            }
            return value;
          });

          localStorage.setItem("gridState", jsonString);
        }

        function loadLayout(savedLayout) {
          try {
            const gridState = JSON.parse(savedLayout);
            // Clear the existing grid
            if (grid) {
              grid.destroy(true);
            }

            grid = new Muuri(".grid", {
              dragEnabled: gridState.settings.dragEnabled,
              // Add any other relevant settings
            }).on("layoutEnd", function () {
              saveLayout(grid);
            });

            // Add items to the grid based on the saved state
            gridState.items.forEach((itemData) => {
              const newItem = document.createElement("div");
              newItem.className = "item";
              newItem.innerHTML = itemData.innerHTML.trim();
              const item = grid.add(newItem);

              // Apply position details
              item._left = itemData.position.left;
              item._top = itemData.position.top;
              item._width = itemData.position.width;
              item._height = itemData.position.height;
              item._translateX = itemData.position.translateX;
              item._translateY = itemData.position.translateY;
            });

            // Layout the grid
            grid.layout(gridState.layout);
          } catch (error) {
            console.error("Error loading grid state:", error);
          }
        }

        function addWidget(data) {
          // Create a new grid item
          const newItem = document.createElement("div");
          newItem.className = "item";
          newItem.innerHTML = `
          <button type="button" class="btn-close" onclick="removeGridItem(this.parentNode);"></button>
            <div class="item-content">
             ${data}
            </div>`;

          grid.add(newItem);
        }

        function removeGridItem(item) {
          grid.remove(grid.getItems(item), { removeElements: true });
        }

        // card buttons to open modals

        const lineChartModal = new bootstrap.Modal(document.getElementById("lineChartModal"));
        // const guageChartModal = new bootstrap.Modal(document.getElementById("guageChartModal"));
        function openLineChartModal() {
          lineChartModal.show();
        }
        // function openGuageChartModal() {
        //   guageChartModal.show();
        // }

        // line chart form
        document.getElementById("create-lineChart-button").addEventListener("click", function () {
          var form = document.getElementById("create-lineChart-form");
          // Create an object to store the form data
          var formData = {};

          // Serialize the form data into the object
          for (var i = 0; i < form.elements.length; i++) {
            var e = form.elements[i];
            if (e.type !== "submit" && e.type !== "button") {
              formData[e.name] = e.value;
            }
          }

          addWidget(JSON.stringify(formData));
        });
      </script>
    </body>
  </html>
{{ end }}
