{{ define "dashboards" }}
  <!doctype html>
  <html lang="en">
    <head>
      {{ template "header" }}
      <title>Dashboards</title>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"
        integrity="sha512-EmNxF3E6bM0Xg1zvmkeYD3HDBeGxtsG92IxFt1myNZhXdCav9MzvuH/zNMBU1DmIPN6njrhX1VTbqdJxQ2wHDg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      ></script>
    </head>
    <body>
      {{ template "navbar" . }}
      <div class="main-content pt-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto py-3">
              {{ template "linechart" . }}
              {{ template "guage" }}
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>
{{ end }}
