{{define "deletedClients"}}
<!doctype html>
<html lang="en">
  <head>
    {{template "header"}}
    <style>
        .table tbody td,
        .table tbody th{
            border-top: none;
            border-bottom: none;
        }
    </style>
  </head>
 

  <body>
    <main role="main">
      <div class="container-fluid">
        <div class="row">

          {{template "navbar" .}}
       
          <!-- Partial goes here -->
            <div class="col-md-9">
                <ul class="nav nav-tabs" id="myTab" role="tablist" style="font-weight: bold;">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="Users-tab" data-bs-toggle="tab" href="#Users-tab-pane" role="tab" aria-controls="Users-tab-pane" aria-selected="true">Users</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="Groups-tab" data-bs-toggle="tab" href="#Groups-tab-pane" role="tab" aria-controls="Groups-tab-pane" aria-selected="false">Groups</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="Things-tab" data-bs-toggle="tab" href="#Things-tab-pane" role="tab" aria-controls="Things-tab-pane" aria-selected="false">Things</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="Channels-tab" data-bs-toggle="tab" href="#Channels-tab-pane" role="tab" aria-controls="Channels-tab-pane" aria-selected="false">Channels</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Users-tab-pane" role="tabpanel" aria-labelledby="Users-tab" tabindex="0" style="padding-top: 20px;">
                        <table id="usersTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">ID</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{range $i, $u := .Users}}
                                <tr>
                                <th scope="row">{{$i}}</th>
                                <td>{{$u.Name}}</td>
                                <td>
                                    <div class="copy-con-container">
                                    <a href={{printf "/users/%s" $u.ID}}>{{$u.ID}}</a>
                                    <button class="copy-icon" onclick="copyToClipboard(this)">
                                        <i class="far fa-copy"></i>
                                    </button>
                                    </div>
                                </td>
                                <td>
                                    <form action="/users/enabled" method="post">
                                    <input type="hidden" name="userID" id="userID" value="{{$u.ID}}">
                                    <button type="submit" class="btn btn-sm">
                                        <i class="fas fa-solid fa-trash-restore"></i>
                                    </button>
                                    </form>
                                </td>
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="Groups-tab-pane" role="tabpanel" aria-labelledby="Groups-tab" tabindex="0" style="padding-top: 20px;">
                        <table id="groupsTable" class="table table-striped">
                            <thead style="min-width: 100%;">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">ID</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{range $i, $g := .Groups}}
                                <tr>
                                <th scope="row">{{$i}}</th>
                                <td>{{$g.Name}}</td>
                                <td>
                                    <div class="copy-con-container">
                                    <a href={{printf "/groups/%s" $g.ID}}>{{$g.ID}}</a>
                                    <button class="copy-icon" onclick="copyToClipboard(this)">
                                        <i class="far fa-copy"></i>
                                    </button>
                                    </div>
                                </td>
                                <td>
                                    <form action="/groups/enabled" method="post">
                                    <input type="hidden" name="groupID" id="groupID" value="{{$g.ID}}">
                                    <button type="submit" class="btn btn-sm">
                                        <i class="fas fa-solid fa-trash-restore"></i>
                                    </button>
                                    </form>
                                </td>
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="Things-tab-pane" role="tabpanel" aria-labelledby="Things-tab" tabindex="0" style="padding-top: 20px;">
                        <table id="thingsTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">ID</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{range $i, $t := .Things}}
                                <tr>
                                <th scope="row">{{$i}}</th>
                                <td>{{$t.Name}}</td>
                                <td>
                                    <div class="copy-con-container">
                                    <a href={{printf "/things/%s" $t.ID}}>{{$t.ID}}</a>
                                    <button class="copy-icon" onclick="copyToClipboard(this)">
                                        <i class="far fa-copy"></i>
                                    </button>
                                    </div>
                                </td>
                                <td>
                                    <form action="/things/enabled" method="post">
                                    <input type="hidden" name="thingID" id="thingID" value="{{$t.ID}}">
                                    <button type="submit" class="btn btn-sm">
                                        <i class="fas fa-solid fa-trash-restore"></i>
                                    </button>
                                    </form>
                                </td>
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="Channels-tab-pane" role="tabpanel" aria-labelledby="Channels-tab" tabindex="0" style="padding-top: 20px;">
                        <table id="channelsTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th> 
                                <th scope="col">ID</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{range $i, $c := .Channels}}
                                <tr>
                                <th scope="row">{{$i}}</th>
                                <td>{{$c.Name}}</td>
                                <td>
                                    <div class="copy-con-container">
                                    <a href={{printf "/channels/%s" $c.ID}}>{{$c.ID}}</a>
                                    <button class="copy-icon" onclick="copyToClipboard(this)">
                                        <i class="far fa-copy"></i>
                                    </button>
                                    </div>
                                </td>
                                <td>
                                    <form action="/channels/enabled" method="post">
                                    <input type="hidden" name="channelID" id="channelID" value="{{$c.ID}}">
                                    <button type="submit" class="btn btn-sm">
                                        <i class="fas fa-solid fa-trash-restore"></i>
                                    </button>
                                    </form>
                                </td>
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          <!-- End of partial-->

        </div>
      </div> <!-- /container -->
    </main>

    <script>
        $(document).ready(function() {
            $('#usersTable').DataTable({
            scrollY: '400px', // Set the desired height for vertical scrolling
            scrollCollapse: true,
            paging: true // Enable pagination
            });
            $('#groupsTable').DataTable({
            scrollY: '400px', // Set the desired height for vertical scrolling
            scrollCollapse: true,
            paging: true // Enable pagination
            });
            $('#thingsTable').DataTable({
            scrollY: '400px', // Set the desired height for vertical scrolling
            scrollCollapse: true,
            paging: true // Enable pagination
            });
            $('#channelsTable').DataTable({
            scrollY: '400px', // Set the desired height for vertical scrolling
            scrollCollapse: true,
            paging: true // Enable pagination
            });
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function(e) {
            $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
        });
        });
    </script>

    {{template "footer"}}

  </body>
</html>
{{end}}
