{{define "groupconn"}}
<!doctype html>
<html lang="en">
  {{template "header"}}
  <body>
    {{template "navbar" .}}
    <div class="main-content pt-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto py-3">
            <div class="row">
              <div class="buttons mb-3">
                {{$userID := .User.ID}} {{$groupID := .Group.ID}}
                {{$disableAssign := true}} {{if (authorizeUser $userID .Group.ID
                "g_add" "group")}} {{$disableAssign =false}} {{end}}
                <button
                  type="button"
                  class="btn body-button"
                  onclick="openModal()"
                  {{if
                  $disableAssign}}disabled{{end}}
                >
                  Assign
                </button>
                <div
                  class="modal fade"
                  id="connectModal"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="connectModal"
                  aria-hidden="true"
                >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="connectModal">Assign</h5>
                      </div>
                      <div class="modal-body">
                        <form
                          action="/groups/{{.Group.ID}}/members"
                          method="post"
                        >
                          <div class="mb-3">
                            <label for="infiniteScroll" class="form-label"
                              >Member ID</label
                            >
                            <input
                              type="text"
                              name="memberFilter"
                              id="memberFilterAssign"
                              placeholder="Filter by member ID"
                              oninput="fetchIndividualEntity(this.value,'infiniteScroll')"
                            />
                            <select
                              class="form-select"
                              name="memberID"
                              id="infiniteScroll"
                              size="5"
                              required
                            >
                              <option disabled>select a member</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="Type" class="form-label"
                              >Member Type</label
                            >
                            <select
                              class="form-control"
                              name="Type"
                              id="Type"
                              aria-describedby="TypeHelp"
                              multiple
                              required
                            >
                              {{range $i, $a := .Actions}}
                              <option
                                value='{{$a}}{{if not (authorizeUser $userID $groupID $a "group")}}disabled{{end}}'
                              >
                                {{$a}}
                              </option>
                              {{end}}
                            </select>
                            <div id="TypeHelp" class="form-text">
                              Select member Type.
                            </div>
                          </div>
                          <button type="submit" class="btn body-button">
                            Submit
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive table-container">
                <table id="myTable" class="table">
                  <thead>
                    <tr>
                      <th scope="col">GROUP</th>
                      <th></th>
                    </tr>
                    <tr>
                      <th scope="col">NAME</th>
                      <th scope="col">ID</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{.Group.Name}}</td>
                      <td>{{.Group.ID}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive table-container">
                <h4
                  style="
                    font-weight: bold;
                    font-size: 22px;
                    margin-top: 50px;
                    margin-bottom: 20px;
                  "
                >
                  GROUP MEMBERS
                </h4>

                {{template "tableheader" .}}
                <div class="itemsTable">
                  <table id="itemsTable" class="table">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 25%">NAME</th>
                        <th scope="col" style="width: 25%">ID</th>
                        <th scope="col" style="width: 40%">ACTIONS</th>
                        <th scope="col" style="width: 10%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {{$policies := .Policies}} {{$disableButton := true}} {{if
                      (eq .Group.OwnerID .User.ID)}} {{$disableButton =false}}
                      {{end}} {{range $i, $m := .Members}} {{if authorizeUser
                      $userID $m.ID "c_list" "client"}}
                      <tr>
                        <td style="width: 25%">{{$m.Name}}</td>
                        <td style="width: 25%">
                          <a href='{{printf "/users/%s" $m.ID}}'>{{$m.ID}}</a>
                        </td>
                        <td style="width: 40%">
                          {{range $p := $policies}} {{if (eq $m.ID $p.Subject)}}
                          {{if (eq $groupID $p.Object)}} {{range $j, $a :=
                          $p.Actions}} {{$badgeClass := "badge text-dark "}}
                          {{if hasPrefix $a "g_"}} {{$badgeClass = printf "%s%s"
                          $badgeClass "group-action"}} {{else if hasPrefix $a
                          "c_"}} {{$badgeClass = printf "%s%s" $badgeClass
                          "client-action"}} {{else}} {{$badgeClass = printf
                          "%s%s" $badgeClass "text-bg-info"}} {{end}}
                          <span class="{{$badgeClass}}">{{$a}}</span>
                          {{end}} {{end}} {{end}} {{end}}
                        </td>
                        <td style="width: 10%">
                          <form
                            action="/groups/{{$groupID}}/unassign"
                            method="post"
                          >
                            <input
                              type="hidden"
                              name="memberID"
                              id="memberID"
                              value="{{$m.ID}}"
                            />
                            <button
                              type="submit"
                              class="btn btn-sm"
                              {{if
                              $disableButton}}disabled{{end}}
                            >
                              <i class="fas fa-trash-alt"></i>
                            </button>
                          </form>
                        </td>
                      </tr>
                      {{end}} {{end}}
                    </tbody>
                  </table>
                </div>
                {{template "tablefooter" .}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{template "footer"}}
    <script>
      const connectModal = new bootstrap.Modal(
        document.getElementById("connectModal"),
      );

      function openModal() {
        connectModal.show();
        getMembers("");
        getAdditionalMembers();
      }

      function fetchIndividualEntity(filterValue, selectId) {
        const itemSelect = document.getElementById(selectId);
        if (filterValue === "") {
          itemSelect.innerHTML = "<option disabled>select a member</option>";
          getMembers("");
          getAdditionalMembers();
        } else {
          itemSelect.innerHTML = "";
          getMembers(filterValue);
        }
      }

      let limit = 5;

      function getMembers(name) {
        fetchData(name, 1);
      }

      function getAdditionalMembers() {
        var selectElement = document.getElementById("infiniteScroll");
        var singleOptionHeight =
          selectElement.querySelector("option").offsetHeight;
        var selectBoxHeight = selectElement.offsetHeight;
        var numOptionsBeforeLoad = 2;
        var lastScrollTop = 0;
        var currentPageNo = 1;
        var currentScroll = 0;

        selectElement.addEventListener("scroll", onselectScroll);

        function onselectScroll(event) {
          var st = selectElement.scrollTop;
          var totalHeight =
            selectElement.querySelectorAll("option").length *
            singleOptionHeight;

          if (st > lastScrollTop) {
            currentScroll = st + selectBoxHeight;
            if (
              currentScroll + numOptionsBeforeLoad * singleOptionHeight >=
              totalHeight
            ) {
              currentPageNo++;
              fetchData("", currentPageNo);
            }
          }

          lastScrollTop = st;
        }
      }

      function fetchData(name, page) {
        fetch(`/entities?item=users&limit=${limit}&name=${name}&page=${page}`, {
          method: "GET",
        })
          .then((response) => response.json())
          .then((data) => {
            const selectElement = document.getElementById("infiniteScroll");
            data.data.forEach((group) => {
              const option = document.createElement("option");
              option.value = group.id;
              option.text = group.name;
              selectElement.appendChild(option);
            });
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
  </body>
</html>
{{end}}
