{{define "group"}}
<!doctype html>
<html lang="en">
  {{template "header"}}

  <body>
    <main role="main">
      <div class="container-fluid">
        <div class="row">

          {{template "navbar" .}}

          <div class="col-md-9">
            <a class="btn btn-primary" href="/groups/{{.Group.ID}}/members" role="button">Connections</a>
      

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="row">GROUP</th>
                </tr>
              </thead>
              <tbody>
                <!-- {{$userID := .User.ID}} -->
                {{$disableButton := true}}
                {{if (hasAuthority .User.ID .Group.ID "g_update" "group")}}
                  {{$disableButton =false}}
                {{end}}
                <tr>
                  <th>NAME</th>
                  <td class="editable" contenteditable="false" data-field="name">
                    {{.Group.Name}}
                  </td>
                  <td>
                    <button class="edit-btn" onclick="editRow('name')" {{if $disableButton}}disabled{{end}}>
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <div class="save-cancel-buttons" style="display: none;">
                      <button class="save-btn" onclick="saveRow('name')">
                        Save
                      </button>
                      <button class="cancel-btn" onclick="cancelEditRow('name')">
                        Cancel
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>ID</th>
                  <td>
                    {{.Group.ID}}
                  </td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td class="editable" contenteditable="false" data-field="description">
                    {{.Group.Description}}
                  </td>
                  <td>
                    <button class="edit-btn" onclick="editRow('description')" {{if $disableButton}}disabled{{end}}>
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <div class="save-cancel-buttons" style="display: none;">
                      <button class="save-btn" onclick="saveRow('description')">
                        Save
                      </button>
                      <button class="cancel-btn" onclick="cancelEditRow('description')">
                        Cancel
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Metadata</th>
                  <td class="editable" contenteditable="false" data-field="metadata">
                    {{toJSON .Group.Metadata}}
                  </td>
                  <td>
                    <button class="edit-btn" onclick="editRow('metadata')" {{if $disableButton}}disabled{{end}}>
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <div class="save-cancel-buttons" style="display: none;">
                      <button class="save-btn" onclick="saveRow('metadata')">
                        Save
                      </button>
                      <button class="cancel-btn" onclick="cancelEditRow('metadata')">
                        Cancel
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div id="error-message" class="error-message"></div>
          </div>
        </div>
      </div>
    </main>
    <style>
      button.edit-btn {
        border: none;
        background: none;
        padding: 0;
      }
      .save-cancel-buttons button {
        padding: 4px 4px;
        margin-right: 10px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
      }
      .save-btn {
        background-color: #4051b5;
        color: #fff;
      }
      .cancel-btn {
        background-color: #ebe5e5;
        color: #070606;
      }
      .error-message {
        color: red;
        display: block;
      }
    </style>
    <script>
      function makeEditable(cell) {
        cell.setAttribute("contenteditable", "true");
        cell.dataset.originalContent = cell.innerHTML;
      }
  
      function makeUneditable(cell) {
        const originalContent = cell.dataset.originalContent;
        cell.innerHTML = originalContent;
        cell.setAttribute("contenteditable", "false");
      }
  
      function showButtons(editBtn, saveCancelBtn) {
        editBtn.style.display = "none";
        saveCancelBtn.style.display = "inline-block";
      }
      function hideButtons(editBtn, saveCancelBtn) {
        editBtn.style.display = "inline-block";
        saveCancelBtn.style.display = "none";
      }
  
      function editRow(field) {
        const cell = document.querySelector(`td[data-field='${field}']`);
        const editBtn = cell.parentNode.querySelector(".edit-btn");
        const saveCancelBtn = cell.parentNode.querySelector(".save-cancel-buttons");
  
        //make the row editable
        makeEditable(cell);
  
        //Hide edit button and show save and cancel buttons
        showButtons(editBtn, saveCancelBtn);
      }
  
      function cancelEditRow(field) {
        const cell = document.querySelector(`td[data-field='${field}']`);
        const editBtn = cell.parentNode.querySelector(".edit-btn");
        const saveCancelBtn = cell.parentNode.querySelector(".save-cancel-buttons");
        const errorMessage = document.getElementById("error-message");

        errorMessage.textContent= '';
  
        //Restore original values in the row
        makeUneditable(cell);
  
        //show the edit button and hide the save and cancel buttons
        hideButtons(editBtn, saveCancelBtn);
      }
  
      function saveRow(field) {
        const cell = document.querySelector(`td[data-field='${field}']`);
        const editBtn = cell.parentNode.querySelector(".edit-btn");
        const saveCancelBtn = cell.parentNode.querySelector(".save-cancel-buttons");
        const errorMessage = document.getElementById("error-message");
  
        //Get the updated value from the nameCell
        const updatedValue = cell.textContent.trim();
  
        //send the updated value to the server using a post request
        let url;
        let data;
        if (field === 'name' || field === 'description') {
          url = '/groups/{{.Group.ID}}';
          data = {[field]: updatedValue};
        }else if(field === 'metadata') {
          try {
            const metadata = JSON.parse(updatedValue);
            url = '/groups/{{.Group.ID}}';
            data = { [field]: metadata };
          } catch (error) {
            errorMessage.textContent = 'Metadata must be a valid JSON object!';
            return;
          }
        }
  
        if (url) {
          fetch(url, {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
              "Content-Type": "application/json"
            }
          })
          .then(response => {
            if (response.ok) {
              //make the row uneditable
              cell.setAttribute("contenteditable","false");
  
              //show edit button and hide save and cancel buttons
              hideButtons(editBtn, saveCancelBtn);
            }else{
              throw new Error(response.statusText);
              console.log(response.statusText)
            }
          })
          .catch(error => {
            //Restore original values in the row if there is an error
            makeUneditable(cell);
  
            //show edit button and hide save and cancel buttons
            hideButtons(editBtn, saveCancelBtn);
  
            console.error("Error", error);
            errorMessage.textContent= "Entity already exists";
          });
        } else {
          console.error("Invalid field:", field);
        }
  
      } 
  
    </script>

      {{template "footer"}}

  </body>
</html>
{{end}}
