{{define "groupconn"}}
<!doctype html>
<html lang="en">
  <head>
    {{template "header"}}
  </head>

  <body>
    <main role="main">
      <div class="container-fluid">
        <div class="row">

          {{template "navbar" .}}

          <!-- Partial goes here -->
          <div class="col-md-9">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#connectModal">
              Assign
            </button>
            <div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModal" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="connectModal">Assign</h5>
                  </div>
                  <div class="modal-body">
                    <form action="/groups/{{.Group.ID}}/members" method="post">
                      <div class="mb-3">
                        <label for="memberID" class="form-label">Member ID</label>
                        <input type="text" name="memberFilter" id="memberFilterAssign" placeholder="Filter by member ID" oninput="filterItem(this.value, 'memberIDAssign')">
                        <select class="form-select" name="memberID" id="memberIDAssign" required>
                          <option value="">...</option>
                          {{range .Users}}
                            <option value="{{.ID}}">{{.Name}}</option>
                          {{end}}
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="Type" class="form-label">Member Type</label>
                        <select class="form-control" name="Type" id="Type" aria-describedby="TypeHelp" multiple required>
                          <option value="g_update">g_update</option>
                          <option value="g_list">g_list</option>
                          <option value="g_delete">g_delete</option>
                          <option value="g_add">g_add</option>
                          <option value="c_update">c_update</option>
                          <option value="c_list">c_list</option>
                          <option value="c_delete">c_delete</option>
                        </select>
                        <div id="TypeHelp" class="form-text">Select member Type.</div>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#unassignModal">
              unassign
            </button>
            <div class="modal fade" id="unassignModal" tabindex="-1" role="dialog" aria-labelledby="unassignModal" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="unassignModal">unassign</h5>
                  </div>
                  <div class="modal-body">
                    <form action="/groups/{{.Group.ID}}/unassign" method="post">
                      <div class="mb-3">
                        <label for="memberId" class="form-label">Member ID</label>
                        <input type="text" name="memberFilter" id="memberFilterUnassign" placeholder="Filter by member ID" oninput="filterItem(this.value , 'memberIDUnassign')">
                        <select class="form-select" name="memberID" id="memberIDUnassign" required >
                          <option value="">...</option>
                          {{range .Members}}
                            <option value="{{.ID}}">{{.Name}}</option>
                          {{end}}
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="Type" class="form-label">Member Type</label>
                        <select class="form-control" name="Type" id="Type" aria-describedby="TypeHelp" multiple required>
                          <option value="g_update">g_update</option>
                          <option value="g_list">g_list</option>
                          <option value="g_delete">g_delete</option>
                          <option value="g_add">g_add</option>
                          <option value="c_update">c_update</option>
                          <option value="c_list">c_list</option>
                          <option value="c_delete">c_delete</option>
                        </select>
                        <div id="TypeHelp" class="form-text">Select member Type.</div>
                      </div>
                      <button type="submit" class="btn btn-danger btn-sm">Unassign</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="row">GROUP</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <tr>
                    <th>Name</th>
                    <td>{{.Group.Name}}</td>
                  </tr>
                  <th>ID</th>
                  <td>{{.Group.ID}}</td>
                </tr>
                <tr>
                  <th>Metadata</th>
                  <td>
                    <pre>{{toJSON .Group.Metadata}}</pre>
                    </td>
                </tr>
              </tbody>
            </table>
            {{ $g := .Group.ID }}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="4">GROUP MEMBERS</th>
                </tr>
              </thead>
              <tbody>
                {{range $i, $m := .Members}}
                  <tr>
                    <th scope="row">{{$i}}</th>
                    <td>{{$m.Name}}</td>
                    <td><a href={{printf "/users/%s" $m.ID}}>{{$m.ID}}</a></td>
                    <td>
                    </td>
                  </tr>
                {{end}}
              </tbody>
            </table>
          </div>
          <!-- End of partial-->

        </div>
      </div> <!-- /container -->
    </main>
    <script>
      function filterItem(filterValue, selectId) {
        const itemSelect = document.getElementById(selectId);
        const options = itemSelect.getElementsByTagName("option");

        for (let i = 0; i < options.length; i++) {
          const option = options[i];
          const itemId = option.value;
          const itemName = option.innerHTML;
          const shouldShow = itemId.includes(filterValue) || itemName.toLowerCase().includes(filterValue.toLowerCase());
          option.style.display = shouldShow ? "" : "none";
        }
      }
    </script>

    {{template "footer"}}

  </body>
</html>
{{end}}
