{{define "groups"}}
<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/slider.css">
    {{template "header"}}
  </head>

  <body>
    <main role="main">
      <div class="container-fluid">
        <div class="row">

          {{template "navbar" .}}

          <!-- Partial goes here -->
          <div class="col-md-9">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addGroupModal">
              Add
            </button>

            <!-- Modal -->
            <div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="addGroupModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addGroupModalLabel">Add Group</h5>
                  </div>
                  <div class="modal-body">
                    <form method="post" onsubmit="return validateForm()">
                      <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="Group Name">
                        <div id="nameError" class="error-message"></div>
                      </div>
                      <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" name="description" id="description" aria-describedby="descriptionHelp" placeholder="Group Description">
                      </div>
                      <div class="mb-3">
                        <label for="parentID" class="form-label">parent ID</label>
                        <input type="text" class="form-control" name="parentID" id="parentID" aria-describedby="parentIDHelp" placeholder="Parent ID">
                      </div>
                      <div class="mb-3">
                        <label for="meatadata" class="form-label">Metadata</label>
                        <input type="text" class="form-control" name= "metadata" id="metadata" value="{}">
                        <div id="metadataHelp" class="form-text">Enter groups metadata in JSON format.</div>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">NAME</th>
                  <th scope="col">ID</th>
                </tr>
              </thead>
              <tbody>
                {{range $i, $g := .Groups}}
                  <tr>
                    <th scope="row">{{$i}}</th>
                    <td>{{$g.Name}}</td>
                    <td>
                      <div class="copy-con-container">
                        <a href={{printf "/groups/%s" $g.ID}}>{{$g.ID}}</a>
                        <button class="copy-icon" onclick="copyToClipboard(this)">
                          <i class="far fa-copy"></i>
                        </button>
                      </div>
                    </td>
                    <td>
                      <form action="/groups/status" method="post">
                        <input type="hidden" name="groupID" id="groupID" value="{{$g.ID}}">
                        <input type="hidden" name="status" id="status" value="disabled">
                        <button type="submit" class="btn btn-sm">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
                {{end}}
              </tbody>
            </table>

            <style>
              .copy-icon {
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
                font-size: 1rem;
                color: #000;
                margin-left: 10px;
              }

              .copy-icon:focus {
                outline: none;
              }

              .success-icon {
                color: green;
              }
              .error-message{
                font-size: 15px;
                color: #e60303;
              }

          </style>

          <script>
            function validateForm() {
              var name = document.getElementById("name").value;

              var nameError = document.getElementById("nameError");

              nameError.innerHTML="";

              var isValid = true;
              if (name==="") {
                nameError.innerHTML= "Field Required!";
                isValid = false
              }

              return isValid;
            }
          </script>

          </div>
          <!-- End of partial-->

        </div>
      </div> <!-- /container -->
    </main>

    {{template "footer"}}

  </body>
</html>
{{end}}
