{{define "login"}}
<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/login.css">

  <div class="hero">
    <nav class="loginNav">
      <img src="/images/logo.png" class="logo">
      <div class="organization-name">
        <h>Mainflux</h>
      </div>
    </nav>
  </div>

</head>

<body>
  <div class="container">
    <div class="form-box">
      <h1>LOGIN</h1>
      <form id="form" method="post" onsubmit="return validateForm()">
        <div class="input-group">
          <div class="input-field">
            <i class="fas fa-solid fa-envelope"></i>
            <input type="email" name="username" id="username" placeholder="Email Address" required>
          </div>
          <div class="input-field">
            <i class="fas fa-solid fa-lock"></i>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <div id="passwordError" class="error-message"></div>
          </div>
          {{if ne .AlertMessage ""}}
            <div id="loginError" class="error-message">{{.AlertMessage}}</div>
          {{ end}}
        </div>
        <div class="btn-field">
          <button type="submit">Login</button>
        </div>
      </form>
      <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">
        Forgot Password?
      </button>
    </div>
    <div>
      <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="forgotPasswordModalLabel">Enter email</h5>
            </div>
            <div class="modal-body">
              <form method="post" action="/password/reset">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- /container -->

  {{template "footer"}}

  <script>
    function validateForm() {
      var password = document.getElementById("password").value;

      passwordError.innerHTML = "";
      var isValid =true;

      if (password.length <8) {
        passwordError.innerHTML= "Password must have a minimum of 8 characters!"
        isValid = false;
      }
      return isValid;
    }
  </script>

</body>

</html>
{{end}}
