{{define "resetPassword"}}
<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <div class="hero">
    <nav class="loginNav">
      <img src="/images/logo.png" class="logo">
      <div class="organization-name">
        <h>Mainflux</h>
      </div>
    </nav>
  </div>

</head>

<body>
  <div class="login-container">
    <div class="form-box">
      <h1>Reset Password</h1>
      <form id="form" method="post" onsubmit="return validateForm()">
        <div class="input-group">
            <div class="input-field">
                <i class="fas fa-solid fa-lock"></i>
                <input class="login-input" type="password" name="password" id="password" placeholder="Password" required>
                <div id="passwordError" class="error-message"></div>
            </div>
          <div class="input-field">
            <i class="fas fa-solid fa-lock"></i>
            <input class="login-input" type="password" name="confirmPassword" id="confirmPassword" placeholder="confirm Password" required>
            <div id="confirmPasswordError" class="error-message"></div>
          </div>
        </div>
        <div class="btn-field">
          <button type="submit">Reset Password</button>
        </div>
      </form>
    </div>
  </div> <!-- /container -->

  <footer class="login-footer">
    <p>Copyright &copy; Mainflux</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
  <script>
    function validateForm() {
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirmPassword").value;

      passwordError.innerHTML = "";
      confirmPasswordError.innerHTML = "";
      var isValid =true;

      if (password.length <8) {
        passwordError.innerHTML= "Password must have a minimum of 8 characters!";
        isValid = false;
      }
      if (confirmPassword != password){
        confirmPasswordError.innerHTML= "Passwords do not match!";
        isValid = false;
      } 
      return isValid;
    }
  </script>

</body>

</html>
{{end}}
