{{define "resetPassword"}}
<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/login.css">

  <div class="hero">
    <nav class="loginNav">
      <img src="/images/logo.png" class="logo">
      <div class="organization-name">
        <h>Mainflux</h>
      </div>
    </nav>
  </div>

</head>

<body>
  <div class="container">
    <div class="form-box">
      <h1>Reset Password</h1>
      <form id="form" method="post" onsubmit="return validateForm()">
        <div class="input-group">
            <div class="input-field">
                <i class="fas fa-solid fa-lock"></i>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <div id="passwordError" class="error-message"></div>
            </div>
          <div class="input-field">
            <i class="fas fa-solid fa-lock"></i>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirm Password" required>
            <div id="confirmPasswordError" class="error-message"></div>
          </div>
        </div>
        <div class="btn-field">
          <button type="submit">Reset Password</button>
        </div>
      </form>
    </div>
  </div> <!-- /container -->

  {{template "footer"}}

  <script>
    function validateForm() {
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirmPassword").value;

      passwordError.innerHTML = "";
      confirmPasswordError.innerHTML = "";
      var isValid =true;

      if (password.length <8) {
        passwordError.innerHTML= "Password must have a minimum of 8 characters!";
        isValid = false;
      }
      if (confirmPassword != password){
        confirmPasswordError.innerHTML= "Passwords do not match!";
        isValid = false;
      } 
      return isValid;
    }
  </script>

</body>

</html>
{{end}}
