{{define "thingsPolicies"}}
<!doctype html>
<html lang="en">
{{template "header"}}

<body>
  {{template "navbar" .}}

  <div class="main-content">
    <main>
        <button type="button" class="btn body-button" data-bs-toggle="modal" data-bs-target="#addThingPolicyModal">
            Add Policy
        </button>
        <div class="modal fade" id="addThingPolicyModal" tabindex="-1" role="dialog" aria-labelledby="addThingPolicyModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addThingPolicyModalLabel">Add Policy</h5>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <div class="mb-3">
                                <label for="subject" class="form-label">Subject</label>
                                <input type="text" class="itemsFilter" name="subjectFilter" id="subjectFilter" placeholder="Filter by subject" oninput="filterItem(this.value, 'subject')"> 
                                <select class="form-select" name="subject" id="subject" required>
                                    <option value="">...</option>
                                    {{range .Things}}
                                        <option value="{{.ID}}">{{.Name}}</option>
                                    {{end}}
                                </select>
                                <div id="subjectHelp" class="form-text">Select a subject.</div>
                            </div>
                            <div class="mb-3">
                                <label for="object" class="form-label">Object</label>
                                <input type="text" class="itemsFilter" name="objectFilter" id="objectFilter" placeholder="Filter by object" oninput="filterItem(this.value, 'object')"> 
                                <select class="form-select" name="object" id="object" required>
                                    <option value="">...</option>
                                    {{range .Channels}}
                                        <option value="{{.ID}}">{{.Name}}</option>
                                    {{end}}
                                </select>
                                <div id="objectHelp" class="form-text">Select an object.</div>
                            </div>
                            <div class="mb-3">
                                <label for="actions" class="form-label">Actions</label>
                                <select class="form-select" name="actions" id="actions" aria-describedby="actionsHelp" multiple required>
                                    <option value="m_read">m_read</option>
                                    <option value="m_write">m_write</option>
                                </select>
                                <div id="actionsHelp" class="form-text">Select Actions (multiple selections allowed).</div>
                            </div>
                            <button type="submit" class="btn body-button">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-container">
            <table id="itemsTable" class="table">
                <thead>
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Object</th>
                        <th scope="col">Actions</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{$actions := .Actions}}
                    {{$things := .Things}}
                    {{$channels := .Channels}}
                    {{range $i, $p := .Policies}}
                        <tr>
                            <td><a href={{printf "/things/%s" $p.Subject}}>{{$p.Subject}}</a></td>
                            <td><a href={{printf "/channels/%s" $p.Object}}>{{$p.Object}}</a></td>
                            <td data-field="actions" >
                                {{range $j, $a := $p.Actions}}
                                    {{$badgeClass := "badge text-dark "}}
                                    {{if eq $a "m_read"}}
                                        {{$badgeClass = printf "%s%s" $badgeClass "read-action"}}
                                    {{else if eq $a "m_write"}}
                                        {{$badgeClass = printf "%s%s" $badgeClass "write-action"}}
                                    {{else if hasPrefix $a "c_"}}
                                        {{$badgeClass = printf "%s%s" $badgeClass "client-action"}}
                                    {{else}}
                                        {{$badgeClass = printf "%s%s" $badgeClass "text-bg-info"}}
                                    {{end}}
                                    <span class="{{$badgeClass}}">{{$a}}</span>
                                {{end}}
                            </td>
                            <td>
                                <div class="icon-container">
                                    <button type="button" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#updatePolicyModal{{$i}}">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>
                                    <form action="/things/policies/delete" method="post">
                                        <input type="hidden" name="subject" id="subject" value="{{$p.Subject}}">
                                        <input type="hidden" name="object" id="object" value="{{$p.Object}}">
                                        <button type="submit" class="btn btn-sm">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="modal fade" id="updatePolicyModal{{$i}}" tabindex="-1" role="dialog" aria-labelledby="updatePolicyModalLabel{{$i}}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="updatePolicyModalLabel{{$i}}">Update Policy</h5>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/things/policies/update" method="post">
                                                    <div class="mb-3">
                                                        <label for="actions" class="form-label">Actions</label>
                                                        <input type="hidden" name="subject" id="subject" value="{{$p.Subject}}">
                                                        <input type="hidden" name="object" id="object" value="{{$p.Object}}"> 
                                                        <select class="form-select" name="actions" id="actions" aria-describedby="actionsHelp" multiple required>
                                                            {{$policyActions := $p.Actions}}                                                    
                                                            {{range $i, $a := $actions}}
                                                                {{$selected := contains $policyActions $a}}
                                                                <option value="{{$a}}" {{if $selected}}selected{{end}}>{{$a}}</option>
                                                            {{end}}
                                                        </select>
                                                        <div id="actionsHelp" class="form-text">Select Actions (multiple selections allowed).</div>
                                                    </div>
                                                    <button type="submit" class="btn body-button">Submit</button>
                                                </form>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </main>
  </div>

  {{template "footer"}}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        new simpleDatatables.DataTable('#itemsTable', {
        searchable: true,
        scrollY: "430px",
        sortable: true,
        pagination: true,
        });
    });

    function filterItem(filterValue, selectId) {
        const itemSelect = document.getElementById(selectId);
        const options = itemSelect.getElementsByTagName("option");

        for (let i = 0; i < options.length; i++) {
        const option = options[i];
        const itemId = option.value;
        const itemName = option.innerHTML;
        const shouldShow = itemId.includes(filterValue) || itemName.toLowerCase().includes(filterValue.toLowerCase());
        option.style.display = shouldShow ? "" : "none";
        }
    }
</script>
</body>
</html>
{{end}}
