{{define "things"}}
<!doctype html>
<html lang="en">
  <head>
    {{template "header"}}
  </head>
 

  <body>
    <main role="main">
      <div class="container-fluid">
        <div class="row">

          {{template "navbar" .}}

          <!-- Partial goes here -->
          <div class="col-md-9">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addThingModal">
              Add
            </button>

            <!-- Modal -->
            <div class="modal fade" id="addThingModal" tabindex="-1" role="dialog" aria-labelledby="addThingModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addThingModalLabel">Add Thing</h5>
                  </div>
                  <div class="modal-body">
                    <form method="post" onsubmit="return validateForm()">
                      <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name"  placeholder="Device Name" required>
                      </div>
                      <div class="mb-3">
                        <label for="thingID" class="form-label">Thing ID</label>
                        <input type="text" class="form-control" name="thingID" id="thingID"  placeholder="Thing ID">
                      </div>
                      <div class="mb-3">
                        <label for="identity" class="form-label">Identity</label>
                        <input type="text" class="form-control" name="identity" id="identity"  placeholder="Thing Identity">
                      </div>
                      <div class="mb-3">
                        <label for="secret" class="form-label">Secret</label>
                        <input type="text" class="form-control" name="secret" id="secret"  placeholder="Thing Secret">
                        <div id="secretError" class="error-message"></div>
                      </div>
                      <div class="mb-3">
                        <label for="tags" class="form-label">Tags</label>
                        <input type="text" class="form-control" name="tags" id="tags" aria-describedby="tagHelp" value="[]">
                        <div id="tagHelp" class="form-text">Enter device tags as a string slice.</div>
                        <div id="tagsError" class="error-message"></div>
                      </div>
                      <div class="mb-3">
                        <label for="metadata" class="form-label">Metadata</label>
                        <input type="text" class="form-control" name= "metadata" id="metadata" value="{}">
                        <div id="metadataHelp" class="form-text">Enter device metadata in JSON format.</div>
                        <div id="metadataError" class="error-message"></div>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

             <!-- Button trigger modal -->
             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addThingsModal">
              Add Things
            </button>

            <!-- Modal -->
            <div class="modal fade" id="addThingsModal" tabindex="-1" role="dialog" aria-labelledby="addThingsModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addThingsModalLabel">Add Things</h5>
                  </div>
                  <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" action="/things/bulk">
                      <div class="form-group">
                        <label for="thingsFile">Add csv file containing thing names with metadata. The metadata field can be empty</label>
                        <input type="file" class="form-control-file" id="thingsFile" name="thingsFile" required>
                        <button type="submit" value="upload" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="table-container">
              <table id="itemsTable" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">NAME</th>
                    <th scope="col">ID</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {{range $i, $t := .Things}}
                    <tr>
                      <th scope="row">{{$i}}</th>
                      <td>{{$t.Name}}</td>
                      <td>
                        <div class="copy-con-container">
                          <a href={{printf "/things/%s" $t.ID}}>{{$t.ID}}</a>
                          <button class="copy-icon" onclick="copyToClipboard(this)">
                            <i class="far fa-copy"></i>
                          </button>
                        </div>
                      </td>
                      <td>
                       <form action="/things/disabled" method="post">
                        <input type="hidden" name="thingID" id="thingID" value="{{$t.ID}}">
                        <button type="submit" class="btn btn-sm">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                       </form>
                      </td>
                    </tr>
                  {{end}}
                </tbody>
              </table>
            </div>
          
          </div>
          <!-- End of partial-->

        </div>
      </div> <!-- /container -->

    </main>

    {{template "footer"}}

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        new simpleDatatables.DataTable('#itemsTable', {
          searchable: true,
          scrollY: "300px",
          sortable: true,
          pagination: true,
        });
      });
      function validateForm() {
        var name = document.getElementById("name").value;
        var secret = document.getElementById("secret").value;
        var tagsInput = document.getElementById("tags").value;
        var metadataInput = document.getElementById("metadata").value;

        var nameError = document.getElementById("nameError");
        var secretError = document.getElementById("secretError");
        var tagsError = document.getElementById("tagsError");
        var metadataError = document.getElementById("metadataError");

        var tags;
        var metadata;

        nameError.innerHTML="";
        secretError.innerHTML = "";
        tagsError.innerHTML = "";
        metadataError.innerHTML = "";

        var isValid = true;

        if (name==="") {
          nameError.innerHTML= "Field Required!";
          isValid = false
        }
        if (secret.length <8){
          secretError.innerHTML = "Secret must have a minimum of 8 characters";
          isValid = false;
        }
        try{
          tags = JSON.parse(tagsInput);
        }catch(error){
          tagsError.innerHTML = "Please enter valid tags as a string array!";
          isValid = false;
        }

        if (!Array.isArray(tags) || !tags.every(function(tag) {return typeof tag === "string";})){
          tagsError.innerHTML = "Tags must be a string array!";
          isValid = false;
        }

        try{
          metadata = JSON.parse(metadataInput);
        }catch(error){
          metadataError.innerHTML = "Please enter valid metadata in JSON format!";
          isValid = false;
        }

        return isValid;
      }
    </script>
  </body>
</html>
{{end}}
