{{define "updatePassword"}}
<!doctype html>
<html lang="en">
  {{template "header"}}

  <body>
    {{template "navbar" .}}

    <div class="main-content">
      <main>
        <div class="login-container">
          <div class="form-box">
            <h1>Update Password</h1>
            <form onsubmit="return submitUpdatePasswordForm()">
              <div class="input-group">
                <div class="input-field">
                  <i class="fas fa-solid fa-lock"></i>
                  <input
                    class="login-input"
                    type="password"
                    name="oldpass"
                    id="oldpass"
                    placeholder="Old password"
                    required
                  />
                  <div id="oldpassError" class="error-message"></div>
                </div>
                <div class="input-field">
                  <i class="fas fa-solid fa-lock"></i>
                  <input
                    class="login-input"
                    type="password"
                    name="newpass"
                    id="newpass"
                    placeholder="New password"
                    required
                  />
                  <div id="newpassError" class="error-message"></div>
                </div>
              </div>
              <div class="btn-field">
                <button type="submit" onclick="return validateForm()">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>

    {{template "footer"}}
    <script>
      function validateForm() {
        var newpass = document.getElementById("newpass").value;

        newpassError.innerHTML = "";
        var isValid = true;

        if (newpass.length < 8) {
          newpassError.innerHTML =
            "Password must have a minimum of 8 characters!";
          isValid = false;
        }
        return isValid;
      }

      function submitUpdatePasswordForm() {
        event.preventDefault();
        var form = event.target;
        fetch("/password", {
          method: "POST",
          body: new FormData(form),
        })
          .then((response) => {
            if (response.status === 401) {
              errorMessage = "invalid old password!";
              showAlert(errorMessage);
              return false;
            } else {
              form.reset();
              window.location.href = "/login";
              return true;
            }
          })
          .catch((error) => {
            console.error("error submitting password update form: ", error);
            return false;
          });
      }

      function showAlert(errorMessage) {
        var loginError = document.getElementById("oldpassError");
        loginError.innerHTML = errorMessage;
      }
    </script>
  </body>
</html>
{{end}}
