{{define "updatePassword"}}
<!doctype html>
<html lang="en">
{{template "header"}}

<body>
  {{template "navbar" .}}

  <div class="main-content">
    <main>
      <div class="login-container">
        <div class="form-box">
          <h1>Update Password</h1>
          <form action="/password" method="post" onsubmit="return validateForm()">
            <div class="input-group">
              <div class="input-field">
                <i class="fas fa-solid fa-lock"></i>
                <input class="login-input" type="password" name="oldpass" id="oldpass"  placeholder="Old password" required>
                {{if ne .AlertMessage ""}}
                  <div id="oldpassError" class="error-message">{{.AlertMessage}}</div>
                {{ end}}
              </div>
              <div class="input-field">
                <i class="fas fa-solid fa-lock"></i>
                  <input class="login-input" type="password" name="newpass" id="newpass" placeholder="New password" required>
                  <div id="newpassError" class="error-message"></div>
              </div>
            </div>
            <div class="btn-field">
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>

  {{template "footer"}}
  <script>
    function validateForm() {
      var newpass = document.getElementById("newpass").value;

      newpassError.innerHTML = "";
      var isValid =true;

      if (newpass.length <8) {
        newpassError.innerHTML= "Password must have a minimum of 8 characters!"
        isValid = false;
      }
      return isValid;
    }
  </script>
 
</body>
</html>
{{end}}
