{{define "policies"}}
<!doctype html>
<html lang="en">
  {{template "header"}}
  <body>
    {{template "navbar" .}}
    <div class="main-content pt-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto py-3">
            <div class="row">
              <div class="buttons mb-3">
                <button
                  type="button"
                  class="btn body-button"
                  onclick="openModal()"
                >
                  Add Policy
                </button>
                <div
                  class="modal fade"
                  id="addPolicyModal"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="addPolicyModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addPolicyModalLabel">
                          Add Policy
                        </h5>
                      </div>
                      <div class="modal-body">
                        <form method="post">
                          <div class="mb-3">
                            <label for="subject" class="form-label"
                              >Subject</label
                            >
                            <input
                              type="text"
                              class="itemsFilter"
                              name="subjectFilter"
                              id="subjectFilter"
                              placeholder="Filter by subject"
                              oninput="fetchIndividualSubject(this.value,'subject')"
                            />
                            <select
                              class="form-select"
                              name="subject"
                              id="subject"
                              size="5"
                              required
                            >
                              <option disabled>select a subject</option>
                            </select>
                            <div id="subjectHelp" class="form-text">
                              Select a subject.
                            </div>
                          </div>
                          <div class="mb-3">
                            <label for="object" class="form-label"
                              >Object</label
                            >
                            <input
                              type="text"
                              class="itemsFilter"
                              name="objectFilter"
                              id="objectFilter"
                              placeholder="Filter by object"
                              oninput="fetchIndividualObject(this.value,'object')"
                            />
                            <select
                              class="form-select"
                              name="object"
                              id="object"
                              size="5"
                              required
                            >
                              <option disabled>select an object</option>
                            </select>
                            <div id="objectHelp" class="form-text">
                              Select an object.
                            </div>
                          </div>
                          <div class="mb-3">
                            <label for="actions" class="form-label"
                              >Actions</label
                            >
                            <select
                              class="form-select"
                              name="actions"
                              id="actions"
                              aria-describedby="actionsHelp"
                              multiple
                              required
                            >
                              {{range $i, $a := .Actions}}
                              <option value="{{$a}}">{{$a}}</option>
                              {{end}}
                            </select>
                            <div id="actionsHelp" class="form-text">
                              Select Actions (multiple selections allowed).
                            </div>
                          </div>
                          <button type="submit" class="btn body-button">
                            Submit
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive table-container">
                {{template "tableheader" .}}
                <div class="itemsTable">
                  <table id="itemsTable" class="table">
                    <thead>
                      <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Object</th>
                        <th scope="col">Actions</th>
                        <th class="createdcol" scope="col">Created At</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {{$actions := .Actions}} {{$users := .Users}} {{$groups :=
                      .Groups}} {{range $i, $p := .Policies}}
                      <tr>
                        <td>
                          {{range $u := $users}} {{if eq $u.ID $p.Subject}}
                          <a href='{{printf "/users/%s" $p.Subject}}'
                            >{{$u.Name}}</a
                          >
                          {{end}} {{end}}
                        </td>
                        <td>
                          {{range $g := $groups}} {{if eq $g.ID $p.Object}}
                          <a href='{{printf "/groups/%s" $p.Object}}'
                            >{{$g.Name}}</a
                          >
                          {{end}} {{end}}
                        </td>
                        <td data-field="actions">
                          {{range $j, $a := $p.Actions}} {{$badgeClass := "badge text-dark "}} {{if hasPrefix $a "g_"}} {{$badgeClass =
                          printf "%s%s" $badgeClass "group-action"}} {{else if
                          hasPrefix $a "c_"}} {{$badgeClass = printf "%s%s"
                          $badgeClass "client-action"}} {{else}} {{$badgeClass =
                          printf "%s%s" $badgeClass "text-bg-info"}} {{end}}
                          <span class="{{$badgeClass}}">{{$a}}</span>
                          {{end}}
                        </td>
                        <td class="createdcol">{{$p.CreatedAt}}</td>
                        <td>
                          <div class="icon-container">
                            <button
                              type="button"
                              class="btn btn-sm"
                              data-bs-toggle="modal"
                              data-bs-target="#updatePolicyModal{{$i}}"
                            >
                              <i class="fas fa-pencil-alt"></i>
                            </button>
                            <form action="/users/policies/delete" method="post">
                              <input
                                type="hidden"
                                name="subject"
                                id="subject"
                                value="{{$p.Subject}}"
                              />
                              <input
                                type="hidden"
                                name="object"
                                id="object"
                                value="{{$p.Object}}"
                              />
                              <button type="submit" class="btn btn-sm">
                                <i class="fas fa-trash-alt"></i>
                              </button>
                            </form>
                          </div>

                          <div
                            class="modal fade"
                            id="updatePolicyModal{{$i}}"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="updatePolicyModalLabel{{$i}}"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5
                                    class="modal-title"
                                    id="updatePolicyModalLabel{{$i}}"
                                  >
                                    Update Policy
                                  </h5>
                                </div>
                                <div class="modal-body">
                                  <form
                                    action="/users/policies/update"
                                    method="post"
                                  >
                                    <div class="mb-3">
                                      <label for="actions" class="form-label"
                                        >Actions</label
                                      >
                                      <input
                                        type="hidden"
                                        name="subject"
                                        id="subject"
                                        value="{{$p.Subject}}"
                                      />
                                      <input
                                        type="hidden"
                                        name="object"
                                        id="object"
                                        value="{{$p.Object}}"
                                      />
                                      <select
                                        class="form-select"
                                        name="actions"
                                        id="actions"
                                        aria-describedby="actionsHelp"
                                        multiple
                                        required
                                      >
                                        {{$policyActions := $p.Actions}} {{range
                                        $i, $a := $actions}} {{$selected :=
                                        contains $policyActions $a}}
                                        <option
                                          value="{{$a}}"
                                          {{if
                                          $selected}}selected{{end}}
                                        >
                                          {{$a}}
                                        </option>
                                        {{end}}
                                      </select>
                                      <div id="actionsHelp" class="form-text">
                                        Select Actions (multiple selections
                                        allowed).
                                      </div>
                                    </div>
                                    <button
                                      type="submit"
                                      class="btn body-button"
                                    >
                                      Submit
                                    </button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      {{end}}
                    </tbody>
                  </table>
                </div>
                {{template "tablefooter" .}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{template "footer"}}
    <script>
      const policyModal = new bootstrap.Modal(
        document.getElementById("addPolicyModal"),
      );

      function openModal() {
        policyModal.show();
        getSubject("");
        getAdditionalSubjects();
        getObject("");
        getAdditionalObjects();
      }

      function fetchIndividualSubject(filterValue, selectId) {
        const itemSelect = document.getElementById(selectId);
        if (filterValue === "") {
          itemSelect.innerHTML = "<option disabled>select a subject</option>";
          getSubject("");
          getAdditionalSubjects();
        } else {
          itemSelect.innerHTML = "";
          getSubject(filterValue);
        }
      }

      function fetchIndividualObject(filterValue, selectId) {
        const itemSelect = document.getElementById(selectId);
        if (filterValue === "") {
          itemSelect.innerHTML = "<option disabled>select an object</option>";
          getObject("");
          getAdditionalObjects();
        } else {
          itemSelect.innerHTML = "";
          getObject(filterValue);
        }
      }

      let limit = 5;

      function getSubject(name) {
        fetchSubjectsData(name, 1);
      }

      function getObject(name) {
        fetchObjectsData(name, 1);
      }

      function getAdditionalSubjects() {
        var selectElement = document.getElementById("subject");
        var singleOptionHeight =
          selectElement.querySelector("option").offsetHeight;
        var selectBoxHeight = selectElement.offsetHeight;
        var numOptionsBeforeLoad = 2;
        var lastScrollTop = 0;
        var currentPageNo = 1;
        var currentScroll = 0;

        selectElement.addEventListener("scroll", onselectScroll);

        function onselectScroll(event) {
          var st = selectElement.scrollTop;
          var totalHeight =
            selectElement.querySelectorAll("option").length *
            singleOptionHeight;

          if (st > lastScrollTop) {
            currentScroll = st + selectBoxHeight;
            if (
              currentScroll + numOptionsBeforeLoad * singleOptionHeight >=
              totalHeight
            ) {
              currentPageNo++;
              fetchSubjectsData("", currentPageNo);
            }
          }

          lastScrollTop = st;
        }
      }

      function getAdditionalObjects() {
        var selectElement = document.getElementById("object");
        var singleOptionHeight =
          selectElement.querySelector("option").offsetHeight;
        var selectBoxHeight = selectElement.offsetHeight;
        var numOptionsBeforeLoad = 2;
        var lastScrollTop = 0;
        var currentPageNo = 1;
        var currentScroll = 0;

        selectElement.addEventListener("scroll", onselectScroll);

        function onselectScroll(event) {
          var st = selectElement.scrollTop;
          var totalHeight =
            selectElement.querySelectorAll("option").length *
            singleOptionHeight;

          if (st > lastScrollTop) {
            currentScroll = st + selectBoxHeight;
            if (
              currentScroll + numOptionsBeforeLoad * singleOptionHeight >=
              totalHeight
            ) {
              currentPageNo++;
              fetchObjectsData("", currentPageNo);
            }
          }

          lastScrollTop = st;
        }
      }

      function fetchSubjectsData(name, page) {
        fetch(`/entities?item=users&limit=${limit}&name=${name}&page=${page}`, {
          method: "GET",
        })
          .then((response) => response.json())
          .then((data) => {
            const selectElement = document.getElementById("subject");
            data.data.forEach((user) => {
              const option = document.createElement("option");
              option.value = user.id;
              option.text = user.name;
              selectElement.appendChild(option);
            });
          })
          .catch((error) => console.error("Error:", error));
      }

      function fetchObjectsData(name, page) {
        fetch(
          `/entities?item=groups&limit=${limit}&name=${name}&page=${page}`,
          {
            method: "GET",
          },
        )
          .then((response) => response.json())
          .then((data) => {
            const selectElement = document.getElementById("object");
            data.data.forEach((group) => {
              const option = document.createElement("option");
              option.value = group.id;
              option.text = group.name;
              selectElement.appendChild(option);
            });
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
  </body>
</html>
{{end}}
