# Copyright (c) Abstract Machines
# SPDX-License-Identifier: Apache-2.0

version: "3.7"

networks:
  magistrala-base-net:
    driver: bridge

volumes:
  magistrala-ui-db-volume:

services:
  ui:
    image: magistrala/ui:${MG_RELEASE_TAG}
    container_name: magistrala-ui
    restart: on-failure
    ports:
      - ${MG_UI_PORT}:${MG_UI_PORT}
    networks:
      - magistrala-base-net
    environment:
      MG_UI_LOG_LEVEL: ${MG_UI_LOG_LEVEL}
      MG_UI_PORT: ${MG_UI_PORT}
      MG_HTTP_ADAPTER_URL: ${MG_HTTP_ADAPTER_URL}
      MG_READER_URL: ${MG_READER_URL}
      MG_THINGS_URL: ${MG_THINGS_URL}
      MG_USERS_URL: ${MG_USERS_URL}
      MG_INVITATIONS_URL: ${MG_INVITATIONS_URL}
      MG_DOMAINS_URL: ${MG_DOMAINS_URL}
      MG_BOOTSTRAP_URL: ${MG_BOOTSTRAP_URL}
      MG_UI_HOST_URL: ${MG_UI_HOST_URL}
      MG_UI_VERIFICATION_TLS: ${MG_UI_VERIFICATION_TLS}
      MG_UI_CONTENT_TYPE: ${MG_UI_CONTENT_TYPE}
      MG_UI_INSTANCE_ID: ${MG_UI_INSTANCE_ID}
      MG_UI_DB_HOST: ${MG_UI_DB_HOST}
      MG_UI_DB_PORT: ${MG_UI_DB_PORT}
      MG_UI_DB_USER: ${MG_UI_DB_USER}
      MG_UI_DB_PASS: ${MG_UI_DB_PASS}
      MG_UI_DB_NAME: ${MG_UI_DB_NAME}
      MG_UI_DB_SSL_MODE: ${MG_UI_DB_SSL_MODE}
      MG_UI_DB_SSL_CERT: ${MG_UI_DB_SSL_CERT}
      MG_UI_DB_SSL_KEY: ${MG_UI_DB_SSL_KEY}
      MG_UI_DB_SSL_ROOT_CERT: ${MG_UI_DB_SSL_ROOT_CERT}
      MG_KRATOS_URL: ${MG_KRATOS_URL}
      MG_KRATOS_CLIENT_ID: ${MG_KRATOS_CLIENT_ID}
      MG_KRATOS_CLIENT_SECRET: ${MG_KRATOS_CLIENT_SECRET}
      MG_KRATOS_REDIRECT_URL: ${MG_KRATOS_REDIRECT_URL}
      MG_KRATOS_STATE: ${MG_KRATOS_STATE}

  ui-db:
    image: postgres:16.1-alpine
    container_name: magistrala-ui-db
    restart: on-failure
    command: postgres -c "max_connections=${MG_POSTGRES_MAX_CONNECTIONS}"
    ports:
      - 6007:5432
    networks:
      - magistrala-base-net
    volumes:
      - magistrala-ui-db-volume:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${MG_UI_DB_USER}
      POSTGRES_PASSWORD: ${MG_UI_DB_PASS}
      POSTGRES_DB: ${MG_UI_DB_NAME}
      MG_POSTGRES_MAX_CONNECTIONS: ${MG_POSTGRES_MAX_CONNECTIONS}

