*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

  .hero{
    width: 100%;
    padding-bottom: 20px;
  }
nav{
    background: #4051b5;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .logo {
    width: 40px;
  }

  .organization-name{
    margin-left: 10px;
    font-size: 30px;
    color: #fff;
  }

  .user-icon {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    height: 30px;
    color: #fff;
  }
  
  .sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10px;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  .sub-menu-wrap.open-menu{
    max-height: 400px;
  }
  
  .sub-menu{
    background: #fff9f9;
    padding: 20px;
    margin: 10px;
  }

  .user-info{
    display: flex;
    align-items: baseline;
    font-weight: 500;
  }

  .user-info h3{
    margin-left: 15px;
    font-size: 20px;
  }

  .sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #7a7a7a;
    margin: 15px 0 10px;
  }

  .sub-menu-link{
    display: flex;
    align-items: baseline;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
    
  }

  .sub-menu-link p{
    width: 100%;
  }

  .sub-menu-link i {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
  }

  .sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
  }

  .sub-menu-link:hover span{
    transform: translateX(5px);
  }
  
  .sub-menu-link:hover p{
    font-weight: 600;
  }
