html{
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}
body{
    position: relative;
    margin: 0;
    min-height: 100%;
    box-sizing: inherit;
    padding-bottom: 6.74rem;
    
}
footer {
    background:#4051b5;
    padding: 20px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    animation: transitionIn 0.2s;
}

.col-md-9{
    animation: transitionIn 0.5s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-20deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

.copy-icon {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
    color: #ada7a7;
    margin-left: 10px;
  }

  .copy-icon:focus {
    outline: none;
  }

  .success-icon {
    color: green;
  }
  .error-message{
    font-size: 15px;
    color: #e60303;
  }
  #itemsTable.dataTable tbody td,
  #itemsTable.dataTable tbody th {
    border-top: none;
    border-bottom: none;
  }
  .table-container {
    margin-top: 20px;
  }
  /* css for alert popup message */
  .alert-popup {
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
    position: relative;
  }
  .alert-message {
    display: flex;
    align-items: center;
  }
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
  }
  .close-button:hover {
      color: black;
  }
